<div class="pf-c-card" id="card-action-example-1">
  <div class="pf-c-card__head">
    <span>img goes here</span>
    <div class="pf-c-card__actions">
      <div class="pf-c-dropdown">
        <button class="pf-c-dropdown__toggle pf-m-plain" id="card-action-example-1-dropdown-kebab-right-aligned-button" aria-expanded="false" aria-label="Actions">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i></button>
        <ul class="pf-c-dropdown__menu" aria-labelledby="card-action-example-1-dropdown-kebab-right-aligned-button" hidden>
          <li><a class="pf-c-dropdown__menu-item" href="#">Link</a></li>
          <li><button class="pf-c-dropdown__menu-item">Action</button></li>
          <li><a class="pf-c-dropdown__menu-item pf-m-disabled" aria-disabled="true" tabindex="-1" href="#">Disabled link</a></li>
          <li><button class="pf-c-dropdown__menu-item" disabled>Disabled action</button></li>
          <li class="pf-c-dropdown__separator" role="separator"></li>
          <li><a class="pf-c-dropdown__menu-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <input type="checkbox" id="card-action-example-1-check" name="card-action-example-1-check" aria-labelledby="card-action-example-1-check-label">
    </div>
  </div>
  <div class="pf-c-card__header pf-c-title pf-m-md">
    Header
  </div>
  <div class="pf-c-card__body">
    Body
  </div>
  <div class="pf-c-card__footer">
    Footer
  </div>
</div>

<div class="pf-c-card" id="card-action-example-1">
  <div class="pf-c-card__head">
    <span>img goes here</span>
    <div class="pf-c-card__actions">
      <div class="pf-c-dropdown">
        <button class="pf-c-dropdown__toggle pf-m-plain" id="card-action-example-1-dropdown-kebab-right-aligned-button" aria-expanded="false" aria-label="Actions">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i></button>
        <ul class="pf-c-dropdown__menu" aria-labelledby="card-action-example-1-dropdown-kebab-right-aligned-button" hidden>
          <li><a class="pf-c-dropdown__menu-item" href="#">Link</a></li>
          <li><button class="pf-c-dropdown__menu-item">Action</button></li>
          <li><a class="pf-c-dropdown__menu-item pf-m-disabled" aria-disabled="true" tabindex="-1" href="#">Disabled link</a></li>
          <li><button class="pf-c-dropdown__menu-item" disabled>Disabled action</button></li>
          <li class="pf-c-dropdown__separator" role="separator"></li>
          <li><a class="pf-c-dropdown__menu-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <input type="checkbox" id="card-action-example-1-check" name="card-action-example-1-check" aria-labelledby="card-action-example-1-check-label">
    </div>
  </div>
  <div class="pf-c-card__header pf-c-title pf-m-md">
    Header
  </div>
  <div class="pf-c-card__body">
    Body
  </div>
  <div class="pf-c-card__footer">
    Footer
  </div>
</div>

<div class="pf-c-card" id="card-action-example-1">
  <div class="pf-c-card__head">
    <span>img goes here</span>
    <div class="pf-c-card__actions">
      <div class="pf-c-dropdown">
        <button class="pf-c-dropdown__toggle pf-m-plain" id="card-action-example-1-dropdown-kebab-right-aligned-button" aria-expanded="false" aria-label="Actions">
          <i class="fas fa-ellipsis-v" aria-hidden="true"></i></button>
        <ul class="pf-c-dropdown__menu" aria-labelledby="card-action-example-1-dropdown-kebab-right-aligned-button" hidden>
          <li><a class="pf-c-dropdown__menu-item" href="#">Link</a></li>
          <li><button class="pf-c-dropdown__menu-item">Action</button></li>
          <li><a class="pf-c-dropdown__menu-item pf-m-disabled" aria-disabled="true" tabindex="-1" href="#">Disabled link</a></li>
          <li><button class="pf-c-dropdown__menu-item" disabled>Disabled action</button></li>
          <li class="pf-c-dropdown__separator" role="separator"></li>
          <li><a class="pf-c-dropdown__menu-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <input type="checkbox" id="card-action-example-1-check" name="card-action-example-1-check" aria-labelledby="card-action-example-1-check-label">
    </div>
  </div>
  <div class="pf-c-card__header pf-c-title pf-m-md">
    Header
  </div>
  <div class="pf-c-card__body">
    Body
  </div>
  <div class="pf-c-card__footer">
    Footer
  </div>
</div>